<p style="font-family:Comic Sans MS; color:blue">
  We appreciate all ideas!
</p>

<img src="https://cdn.connox.com/m/100030/215601/media/umage/Idea-Leuchtmittel/umage-Idea-LED-Leuchtmittel-E27-6-W-klar.jpg"
   width="100vw" height=auto>
